certifi==2018.10.15
chardet==3.0.4
dj-database-url==0.5.0
Django==2.1.2
idna==2.7
inflection==0.3.1
more-itertools==4.3.0
numpy==1.15.3
pandas==0.23.4
psycopg2==2.7.5
psycopg2-binary==2.7.5
python-dateutil==2.7.3
python-decouple==3.1
python-dotenv==0.9.1
pytz==2018.6
Quandl==3.4.3
requests==2.20.0
six==1.11.0
urllib3==1.24
