certifi==2018.11.29
chardet==3.0.4
dj-database-url==0.5.0
Django==2.1.7
idna==2.8
inflection==0.3.1
more-itertools==7.1.0
numpy==1.16.2
pandas==0.24.1
psycopg2==2.7.7
psycopg2-binary==2.7.7
python-dateutil==2.8.0
python-decouple==3.1
python-dotenv==0.10.1
pytz==2018.9
Quandl==3.4.6
requests==2.21.0
six==1.12.0
SQLAlchemy==1.2.18
urllib3==1.24.1
